*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
body {
    width: 1100px;
    margin: auto;}
header {
    background-color:#20a2ff;
    background-image: url("../img/pattern.png");
    height: 100px;
    background-size: 400px;
    background-repeat: repeat-x;
}

.main-logo {
    width: 160px;
}

