
header {
    background-color:#20a2ff;
    background-image: url("../img/pattern.png");
    height: 100px;
    background-size: cover;
    background-repeat: repeat-x;
}

.main-logo {
    width: 160px;
}

main {
    width: 1100px;
    margin: auto;
}

figure {
    text-align: left;
}